<div class="about-page">
	<div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-caption">
                        <h1 class="page-title">Ruby Store</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-section">
        <div class="container">
            <div class="card-block bg-white mb30">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="section-title mb-0">
                            <h2>All about Ruby store. We sell everything and everywhere</h2>
                            <p>Our approach is very simple: we help you you to find exctly what you want and deliver it. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row project-author">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                	Created by <a href="https://gitlab.com/vproh/" target="_blank">Vlad Prokhnitskyi</a>
        		</div>
           	</div>
        </div>
    </div>
</div>
