<br>
<div class="container main-listing">

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <% @product_list.each do |product| %>   

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-70">
                            <div class="card-header">
                                <%= image_tag(product.image) %>
                            </div> 
                            <div class="card-body">
                                <h4 class="card-title"><%= product.title %></h4>
                                <h5>$ <%= product.price %></h5>
                                <p class="card-text"><%= product.description %></p>
                            </div>
                            <div class="card-footer text-center">
                                <%= link_to "View", product_path(product), :class => 'btn btn-success' %>
                                <% if signed_in? && current_user.role == 'manager' %>
                                    <%= link_to "Delete", product_path(product), method: :delete, data: {confirm: "Would you like to delete this product?"}, :class => 'btn btn-danger' %>
                                    <%= link_to "Edit", edit_product_path(product), :class => 'btn btn-warning' %>
                                <% end %>
                            </div>
                        </div>
                    </div>

                <% end %>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>