<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
    <div class="container">

        <%= link_to "Ruby store", home_path, {:class => 'navbar-brand'} %>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
        </button>
        
        <div class="collapse navbar-collapse" id="exCollapsingNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <%= link_to "Home", home_path, {:class => 'nav-link'} %>
                </li>
                <li class="nav-item">
                    <%= link_to "About", about_path, {:class => 'nav-link'} %>
                </li>
                <% if signed_in? && current_user.role == 'manager' %>
                    <li class="nav-item">
                        <%= link_to "Add product", new_product_path, {:class => 'nav-link'} %>
                    </li>
                <% end %>
            </ul>

            <% if signed_in? %>
                <div class="nav-item flex-row ml-auto">
                    <%= button_to t("Sign out"), sign_out_path, method: :delete, :class => 'btn btn-danger'%>
                </div>
            <% else %>               
                <div class="nav-item flex-row ml-auto">
                    <%= link_to "Sign in", sign_in_path, :class => 'btn btn-success sign-in-btn' %>
                </div>
            <% end %>
        </div>
    </div>
</nav>